# db-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:14
        ports:
        - containerPort: 5432 # Puerto estándar de PostgreSQL
        env:
        - name: POSTGRES_DB
          value: "registro_db"
        - name: POSTGRES_USER
          value: "usuario_db"
        - name: POSTGRES_PASSWORD
          value: "123456"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP # Acceso solo dentro del clúster
